@charset "UTF-8";
/**
  * Table of contents
  *
  * - Paths
  * - Animation
  * - Element sizes
  * - Colors
  * - Other properties
  * - Mixins
  */
/**
  * Table of contents:
  *
  * — Text styles
  * - Styles for global elements
  */
/**
  * Text styles
  */
body {
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fbfaf8; }

table, h2 {
  font-weight: 300; }

body p {
  font-size: 1em; }

body p a {
  color: #6C6D70; }

body h1 {
  color: #E65722;
  margin: 0;
  padding: 0;
  font-size: 2.8571em;
  font-weight: 300; }

body h3 {
  font-size: 1.4285em;
  font-weight: 300; }

body h4 {
  font-size: 1.1428em;
  font-weight: 300; }

table {
  font-size: 1em; }

/**
  * Styles for global elements
  */
*:focus {
  outline: none !important; }

#top-line {
  background-color: #6c6d70; }

#bottom-line {
  background-color: #6c6d70;
  text-align: center;
  color: #d3d3d3;
  box-sizing: border-box;
  padding-top: 6px; }

#bottom-line a {
  color: white;
  text-decoration: none;
  margin-top: .7em;
  font-size: .8671em; }

#right-panel {
  background-color: #fbfaf8; }

button.close {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url(../images/close-icon.svg);
  background-size: 16px 16px; }
  .no-svg button.close {
    background-image: url(../images/close-icon.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg button.close {
        background-image: url(../images/close-icon@2x.png); } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*Mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  body h1 {
    font-size: 1.5em;
    margin-top: 65px; } }
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%; }

#app-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

#menu, #content-wrapper, #right-panel {
  transition: transform 0.5s; }

#menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  z-index: 100;
  overflow: auto; }

@media all and (min-width: 320px) {
  #menu {
    width: 300px; } }
#menu-link {
  position: fixed;
  top: 40px;
  left: 20px;
  z-index: 100;
  transition: .3s ease-in-out;
  opacity: 1;
  pointer-events: all; }

.has-panel #menu-link {
  opacity: 0;
  pointer-events: none; }

#content-wrapper {
  width: 100%;
  min-height: 100%;
  transform: translateX(0);
  z-index: 1; }

#right-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  z-index: 10; }

@media all and (min-width: 320px) {
  #right-panel {
    width: 100%; } }
#app-container.has-menu,
#app-container.has-panel {
  overflow: hidden; }

#app-container.has-menu #menu {
  transform: translateX(0); }

#app-container.has-menu #content-wrapper {
  transform: translateX(100%); }

@media all and (min-width: 320px) {
  #app-container.has-menu #content-wrapper {
    transform: translateX(300px); } }
#app-container.has-panel #content-wrapper {
  transform: translateX(-100%); }

@media all and (min-width: 320px) {
  #app-container.has-panel #content-wrapper {
    transform: translateX(-100%); } }
#app-container.has-panel #right-panel {
  transform: translateX(0); }

#top-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 20; }

#bottom-line {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 20; }

#sri-logo {
  position: fixed;
  top: 27px;
  right: 40px;
  z-index: 100; }

#sri-logo a {
  display: block;
  border: none; }

@media print {
  #app-container {
    overflow: visible;
    width: auto;
    height: auto;
    position: static; }

  #content-wrapper {
    display: none; }

  #top-line, #bottom-line, #menu, #menu-link {
    display: none; }

  #right-panel {
    position: static;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    transform: none; } }
.align-center {
  display: block;
  margin: 0 auto; }

#menu-link {
  text-transform: uppercase;
  font-size: 1.4285em;
  font-weight: 300;
  color: #6c7d70;
  cursor: pointer; }

.has-menu #menu-link {
  background-color: #fff; }

#menu-icon {
  margin-top: 2px;
  display: inline-block;
  width: 20px;
  height: 16px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }

#menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #6C6D70;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

/* Icon 3 */
#menu-icon span:nth-child(1) {
  top: 0px; }

#menu-icon span:nth-child(2),
#menu-icon span:nth-child(3) {
  top: 7px; }

#menu-icon span:nth-child(4) {
  top: 14; }

.has-menu #menu-icon span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%; }

.has-menu #menu-icon span:nth-child(2) {
  transform: rotate(45deg); }

.has-menu #menu-icon span:nth-child(3) {
  transform: rotate(-45deg); }

.has-menu #menu-icon span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%; }

#menu-link .label {
  margin-left: 20px; }

@media screen {
  .has-menu #menu {
    box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.4); } }

#menu .requires-auth {
  display: none; }

.has-auth #menu .requires-auth {
  display: list-item; }

#menu {
  background-color: #fff; }

#menu:focus {
  background-color: #E8E7E5; }

nav.menu {
  padding-top: 80px; }

nav.menu ul,
nav.menu ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none; }

nav.menu ul li {
  margin: 0 20px; }

nav.menu ul li:hover, nav.menu ul li a:focus {
  background-color: #E8E7E5; }

nav.menu ul li a {
  display: block;
  padding: 10px 10px 10px 10px;
  font-size: 1.1428rem;
  color: #6C6D70;
  text-decoration: none; }

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute; }

.page-wrapper {
  background-color: #fbfaf8;
  min-height: 100%; }

.page-wrapper .page {
  padding: 40px 20%;
  color: #6c6d70; }

.page.welcome {
  padding-top: 290px;
  background-image: url(../images/world-dots.svg);
  background-size: 461px 233px;
  background-repeat: no-repeat;
  background-position: center 55px; }
  .no-svg .page.welcome {
    background-image: url(../images/world-dots.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .page.welcome {
        background-image: url(../images/world-dots@2x.png); } }

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .page .header .header-inner {
    padding: 0 0; }

  .page .header .header-inner {
    padding: 0 20%; }

  .page .content .content-inner {
    padding: 30px 0 30px 5%; }

  .page .content {
    overflow: auto;
    height: 100%; }

  .page {
    padding: 20px 0 10px 5%;
    display: block;
    overflow: hidden; }

  .page body h1 {
    margin-top: 65px; }

  .page.welcome {
    background-size: 230px 116px;
    padding-top: 125px;
    margin-top: 50px; } }
.country .header {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E8E7E5;
  z-index: 2; }
  @media screen {
    .country .header {
      box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.4); } }

.country .header .header-inner {
  padding: 0 20%; }

.country .header button.go-back {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #E65722;
  background-image: url(../images/caret-left.svg);
  background-size: 10px 17px;
  background-position: 15px 54px;
  background-repeat: no-repeat; }
  .no-svg .country .header button.go-back {
    background-image: url(../images/caret-left.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .country .header button.go-back {
        background-image: url(../images/caret-left@2x.png); } }

.country .header h1.title {
  margin-top: 20px;
  height: 1.1751em; }

.country .header .controls {
  margin-top: 5px;
  line-height: 100%; }

.country .header .controls .topics-select-container {
  display: inline-block; }

.country .header .controls button.crl-only {
  border-radius: 4px;
  background-color: #FBFAF8;
  color: #8F9092;
  font-size: 1em;
  border: none;
  padding: 6px 6px 6px 30px;
  border: 1px solid #d1d1d1;
  margin-left: 20px;
  background-image: url(../images/crl-circle.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 3px 3px; }
  .no-svg .country .header .controls button.crl-only {
    background-image: url(../images/crl-circle.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .country .header .controls button.crl-only {
        background-image: url(../images/crl-circle@2x.png); } }

.country.has-crl-only .header .controls button.crl-only {
  background-image: url(../images/crl-circle-on.svg);
  background-size: 20px 20px; }
  .no-svg .country.has-crl-only .header .controls button.crl-only {
    background-image: url(../images/crl-circle-on.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .country.has-crl-only .header .controls button.crl-only {
        background-image: url(../images/crl-circle-on@2x.png); } }

.country .header .controls button.print {
  display: none; }

@media only screen and (min-width: 992px) {
  .country .header .controls button.print {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../images/printer.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 20px; }
    .no-svg .country .header .controls button.print {
      background-image: url(../images/printer.png); } }
    @media only screen and (min-width: 992px) and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
      .no-svg .country .header .controls button.print {
        background-image: url(../images/printer@2x.png); } }

.country .content {
  overflow: auto;
  height: 100%; }

.country .content .content-inner {
  position: relative;
  padding: 120px 20% 100px 20%;
  box-sizing: border-box; }

.header .updated {
  text-align: right;
  color: #000;
  float: right;
  background-color: #E0C5B9;
  border-radius: 2px;
  padding: 5px;
  font-size: .9em; }

.header.updated:hover {
  color: #87888a; }

.country .content h2 {
  color: #6c6d70; }

.country .content .topics .contribute-link {
  display: inline-block;
  border-radius: 2px;
  padding: 3px 10px;
  background-color: #5E414E;
  color: white;
  text-decoration: none; }

.country .content .topics .contribute-link span {
  color: #CC925A; }

.country .content .topics ul.tags + .contribute-link {
  margin-top: 20px; }

.country .content .intro {
  margin-bottom: 60px; }

.country .content .intro p {
  color: #6c6d70; }

.country .content .intro p:first-of-type {
  margin-top: 0px; }

.country .topic {
  margin: 40px 0;
  padding: 0 0 0 20px; }

.country .topic h2 {
  position: relative; }

.country .topic h2::before {
  content: '\00A0';
  display: block;
  width: 500px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 0px;
  margin-left: -510px;
  background-image: url(../images/topic-line.svg);
  background-size: 500px 15px; }

.country.has-crl-only .topic.no-crl h2 {
  color: #d3d3d3; }

.country.has-crl-only .topic.no-crl h2:hover::after {
  content: ' (hidden by CRL filter)';
  color: #d3d3d3;
  font-size: 0.666em; }

.country.has-crl-only .topic.no-crl ul.tags,
.country.has-crl-only .topic.no-crl .question {
  display: none; }

.country .topic:first-of-type {
  padding-top: 0; }

.country .topic h2 {
  margin-left: -20px; }

.country .topic ul.tags {
  display: block;
  margin: 0 0 0 -20px;
  padding: 0; }

.country .topic ul.tags li {
  display: inline-block;
  list-style-type: none;
  background-color: #E8E7E5;
  color: #535456;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 20px 4px 0; }

.country .question h3 {
  color: #E65722;
  margin-bottom: 0; }

.country .question h4 {
  color: #535456;
  margin-bottom: 0; }

.country .question p,
.country .question ul li {
  color: #6c6d70; }

.country .question .answer p,
.country .question .explanation p {
  font-size: 1.1428em; }

.country .question .answer a,
.country .question .explanation a {
  background-color: #E8E7E5; }

.country .question .answer p:first-child,
.country .question .explanation p:first-child {
  margin-top: 0; }

.country .intro p.quote,
.country .question .explanation p.quote,
.country .question .answer p.quote {
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  background-color: #E8E7E5; }

.country .intro p.quote:first-of-type, .country .question .explanation p.quote:first-of-type, .country .question .answer p.quote:first-of-type, .country .intro :not(.quote) + p.quote, .country .question .explanation :not(.quote) + p.quote, .country .question .answer :not(.quote) + p.quote {
  padding-top: 20px;
  background-image: url(../images/quote.svg);
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: 10px 20px; }
  .no-svg .country .intro p.quote:first-of-type,
  .no-svg .country .question .explanation p.quote:first-of-type,
  .no-svg .country .question .answer p.quote:first-of-type,
  .no-svg .country .intro :not(.quote) + p.quote,
  .no-svg .country .question .explanation :not(.quote) + p.quote,
  .no-svg .country .question .answer :not(.quote) + p.quote {
    background-image: url(../images/quote.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .country .intro p.quote:first-of-type,
      .no-svg .country .question .explanation p.quote:first-of-type,
      .no-svg .country .question .answer p.quote:first-of-type,
      .no-svg .country .intro :not(.quote) + p.quote,
      .no-svg .country .question .explanation :not(.quote) + p.quote,
      .no-svg .country .question .answer :not(.quote) + p.quote {
        background-image: url(../images/quote@2x.png); } }

.country .intro p.quote + p.quote,
.country .question .explanation p.quote + p.quote,
.country .question .answer p.quote + p.quote {
  margin: -20px 0 0 0;
  padding-top: 20px;
  padding-bottom: 20px; }

.country .question ul,
.country .question ul li,
.country .question ul li span {
  font-size: 1em !important;
  /* this ugly hack is necessary because the font-size is being set by tinyMCE in the style attribute */
  line-height: normal !important; }

.country .question .answer ul,
.country .question .explanation ul,
.country .question ul.related-documents {
  list-style: none;
  padding: 0 20px 20px 20px;
  margin: 0; }

.country .question .answer ul li,
.country .question .explanation ul li,
.country .question ul.related-documents li {
  font-size: 1em;
  margin-left: -.7em;
  line-height: 1.3em;
  padding: 5px 0; }

.country .question .answer ul li:before,
.country .question .explanation ul li:before,
.country .question ul.related-documents li:before {
  content: "• ";
  color: #f4811f; }

.country li a,
.country .question ul.related-documents li a {
  color: #6c6d70; }

.countries-list {
  padding: 50px 20% 40px 20%; }

.countries-list ul {
  list-style: none;
  display: block;
  padding: 20px 0 40px 0;
  margin: 0; }

.countries-list ul::after {
  visibility: hidden;
  display: block;
  height: 0;
  content: ' ';
  clear: both; }

.countries-list ul li {
  cursor: pointer;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  float: left;
  width: 33%;
  padding: 0px 10px;
  min-height: 2em;
  margin-bottom: 1em; }

.countries-list ul li h2 {
  color: #6c6d70;
  padding: 0;
  margin: 0; }

.countries-list ul li h2:active,
.countries-list ul li h2:focus,
.countries-list ul li h2:hover {
  color: #E65722; }

@media print {
  .country .header {
    background: none;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto; }

  .country .header button,
  .country .header .controls {
    display: none; }

  .country .header .header-inner {
    padding: 0 0; }

  .country .content {
    padding: 0;
    overflow: visible;
    height: auto; }

  .country .content .content-inner {
    padding: 1em;
    position: static; } }
/*Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .country .header h1.title {
    font-size: 1.2em; }

  .country .header .controls button.crl-only {
    width: 160px;
    margin-left: 0; }

  #sri-logo {
    right: 20px; }

  #sri-logo img {
    width: 42px;
    height: 32px; }

  .header .updated {
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8em;
    width: 160px;
    box-sizing: border-box;
    text-align: center; }

  .header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E8E7E5;
    z-index: 2; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .header {
      box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.4); } }

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .countries-list .header .header-inner {
    padding: 0 0; }

  .countries-list .header .header-inner {
    padding: 0 20%; }

  .countries-list .content .content-inner {
    padding: 30px 0 30px 5%; }

  .countries-list .content {
    overflow: auto;
    height: 100%; }

  .countries-list {
    padding: 20px 0 10px 5%; }

  .countries-list {
    display: block;
    height: 95%;
    width: 95%;
    overflow: hidden; }

  .countries-list ul li {
    width: 50%; }

  .country .fixed-panel {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    top: 0;
    right: 0; }

  .country .header .controls button.crl-only,
  .country.has-crl-only .header .controls button.crl-only {
    background-size: 10px 10px;
    background-position: 6px 6px; }

  .select2-selection__rendered {
    font-size: 11px; } }
.country .contribute {
  cursor: hand;
  position: absolute;
  bottom: 80px;
  left: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #5E414E; }

.country .contribute p {
  text-align: center;
  font-size: .9em;
  font-weight: 700; }

.country .contribute p.top {
  color: white;
  margin-top: 30%;
  margin-bottom: 0; }

.country .contribute p.bottom {
  margin-top: 1px;
  color: #CC925A; }

/*Mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .countries-list ul li h2 {
    float: none;
    width: 90%; }

  .contribute {
    bottom: 30px;
    left: 0;
    border-radius: 0 5px 0 0;
    height: 50px;
    width: 100px; }

  .contribute p.top {
    margin-top: 8px; } }
/*Mobile Portrait*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .country .header .controls button.crl-only {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 1px 0; }

  .select2-selection__rendered {
    font-size: .8em; }

  .country .content .content-inner {
    padding: 120px 5% 100px 5%; } }
/*Mobile Landscape*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  .header .updated {
    margin-top: 7px; }

  .country .content .content-inner {
    padding: 120px 5% 100px 5%; } }
/*Tablet landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: landscape) {
  #sri-logo img {
    width: 52px;
    height: 42px; }

  .country .content .content-inner {
    padding: 120px 5% 100px 5%; } }
/*Tablet portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: portrait) {
  #sri-logo img {
    width: 52px;
    height: 42px; }

  .country .content .content-inner {
    padding: 120px 1% 100px 1%; }

  .contribute {
    bottom: 30px;
    left: 0;
    border-radius: 0 5px 0 0;
    height: 50px;
    width: 100px; }

  .contribute p.top {
    margin-top: 8px; } }
/**
  * Table of contents
  *
  * - Map
  * - Map Help
  * - Country Card
  * - Key
  * - Zoom
  * - Select menus
  * - Map container
  */
.map {
  width: 100%;
  height: 100%; }

.map__help {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.map__country-card {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.map__country-card.open {
  pointer-events: none; }

.map__country-card .card-container {
  pointer-events: all;
  position: absolute;
  bottom: 70px;
  right: 20px;
  width: 380px;
  min-height: 100px;
  transition: .3s ease-in-out;
  transform: translateY(200%) rotate(30deg);
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }
  @media screen {
    .map__country-card .card-container {
      box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.4); } }

.map__country-card.open .card-container {
  transform: translateY(0) rotate(0deg); }

.map__country-card button.close {
  position: absolute;
  top: 16px;
  right: 16px; }

.map__country-card h3 {
  background-color: #535456;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  padding: 10px 30px 10px 10px;
  margin: 0;
  color: #fff; }

.map__country-card h4.topic-name {
  margin: 0;
  padding: 10px 20px 10px 10px;
  background-color: #6C6D70;
  color: #d3d3d3; }

.map__country-card td.question {
  margin: 0;
  padding: 10px 20px 10px 10px;
  background-color: #6C6D70;
  color: #d3d3d3; }

.map__country-card h4.topic-name .question {
  font-size: .875em;
  display: block;
  color: #c4c4c4; }

.map__country-card h4.topic-name .question p {
  margin: 0; }

.map__country-card .answer {
  padding: 10px 20px 10px 10px;
  background-color: #00ADEF;
  font-size: 1.1428em;
  color: #E8E7E5; }

.map__country-card .tags table {
  width: 100%;
  border: none; }

.map__country-card .tags td {
  padding: 10px;
  vertical-align: top; }

.map__country-card td.code {
  width: 30%; }

.map__country-card td.name {
  width: 70%; }

.map__country-card .tags tr:nth-child(odd) td.code {
  background-color: #87888A; }

.map__country-card .tags tr:nth-child(even) td.code {
  background-color: #797A7D; }

.map__country-card .tags tr:nth-child(odd) td.name {
  background-color: #E8E7E5; }

.map__country-card .tags tr:nth-child(even) td.name {
  background-color: #D3D3D3; }

.map__country-card .tags td.code h4 {
  color: #E8E7E5;
  margin: 0;
  padding: 0; }

.map__country-card button.details {
  width: 100%;
  text-align: left;
  background-color: #F1F0EE;
  color: #6C6D70;
  font-size: 1em;
  padding: 10px;
  border: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  background-image: url(../images/caret-right.svg);
  background-size: 17px 10px;
  background-repeat: no-repeat;
  background-position: center right; }
  .no-svg .map__country-card button.details {
    background-image: url(../images/caret-right.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .map__country-card button.details {
        background-image: url(../images/caret-right@2x.png); } }

.map__country-card .no-info {
  padding: 10px 20px 10px 10px;
  background-color: #87888A;
  color: #d3d3d3; }

.map__country-card .no-info a {
  color: #d1d1d1; }

.map__country-card .warning {
  background-color: #F5D525; }

.map__key {
  position: absolute;
  bottom: 70px;
  right: 20px;
  width: 520px;
  transition: opacity .25s ease-in-out;
  opacity: 1;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }
  @media screen {
    .map__key {
      box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.4); } }

.map.has-country-card .map__key {
  pointer-events: none;
  opacity: 0; }

.map__key button.collapse {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border: none;
  background-color: #424242;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.map__key .key-header {
  position: relative; }

.map__key.collapsed button.collapse {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.map__key button.collapse span.icon {
  background-image: url(../images/caret-bottom.svg);
  background-size: 17px 10px;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 11px;
  width: 17px;
  height: 10px;
  transform: rotate(0);
  transition: .25s ease-in-out; }
  .no-svg .map__key button.collapse span.icon {
    background-image: url(../images/caret-bottom.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .map__key button.collapse span.icon {
        background-image: url(../images/caret-bottom@2x.png); } }

.map__key.collapsed button.collapse span.icon {
  transform: rotate(-180deg); }

.map__key h4.topic-name {
  margin: 0;
  padding: 10px 50px 10px 10px;
  background-color: #6C6D70;
  color: #d3d3d3;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px; }

.map__key.collapsed h4.topic-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 40px;
  max-height: 20px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

.map__key h4.topic-name .question {
  font-size: .875em;
  display: block;
  color: #c4c4c4; }

.map__key h4.topic-name .question p {
  margin: 0; }

.map__key.collapsed h4.topic-name .question {
  display: none; }

.map__key .key {
  max-height: 1000px;
  overflow: auto;
  transition: max-height .25s ease-in-out; }

.map__key.collapsed .key {
  max-height: 0px; }

.map__key .key table {
  width: 100%;
  border: none;
  table-layout: fixed; }

.map__key .key table td.color {
  width: 60px;
  background-color: red;
  position: relative; }

.map__key .key table tr td.label {
  color: #535456;
  padding: 0; }

.map__key .key table tr:nth-child(odd) td.label {
  background-color: #E8E7E5; }

.map__key .key table tr:nth-child(even) td.label {
  background-color: #D3D3D3; }

.map__key .key table tr:last-child td.color {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0; }

.map__key .key table tr:last-child td.label {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.inactive {
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 40px;
  display: inline-block; }

.map__selects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #E8E7E5; }
  @media screen {
    .map__selects {
      box-shadow: 8px 0px 15px 0px rgba(0, 0, 0, 0.4); } }

.map__selects__inner {
  position: absolute;
  left: 250px;
  top: 40px; }

.map__map-container {
  position: absolute;
  top: 120px;
  width: 100%;
  bottom: 30px;
  background-color: #fbfaf8; }

.map__leaflet #map {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 500px;
  background-color: #FBFAF8; }

img.leaflet-tile {
  pointer-events: none; }

.leaflet-map-pane .leaflet-tile-pane {
  z-index: 10; }

/*Mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .rotate-icon {
    margin-right: 4px; }

  .select2-container:last-child {
    width: 160px !important; } }
/*Mobile portrait*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .map__key .key {
    overflow: auto; }

  .map__selects__inner {
    position: absolute;
    left: 18px;
    top: 70px; }

  .map .map__selects .select2-container--default:last-child {
    margin-left: 10px; }

  .map .map__key {
    width: 300px; }

  .select2-container {
    width: 140px !important; }

  .leaflet-left .leaflet-control {
    display: none; }

  .map__country-card.open .card-container {
    width: 320px; }

  .map__key button.collapse {
    height: 39px; } }
/*Mobile landscape*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  .map__selects__inner {
    position: absolute;
    left: 150px; }

  .select2-container {
    width: 160px !important; }

  .map__key {
    bottom: 50px; }

  .map__selects {
    height: 80px; }

  .leaflet-left .leaflet-control {
    display: none; }

  .map__leaflet #map {
    top: 80px; }

  .map .key-container {
    overflow: auto; }

  .map__key .key {
    overflow: auto; } }
/*Tablet landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: landscape) {
  .map__selects__inner {
    left: 150px; } }
/*Tablet portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: portrait) {
  .map__selects__inner {
    left: 20%; } }
.key tr {
  width: 100px; }

.key td.color {
  color: #FFF;
  text-align: center; }

.key td.label {
  text-align: center;
  word-wrap: break-word; }

.key td.label .hidden {
  display: none; }

.key .active-label {
  position: relative;
  padding: 5px 25px 5px 5px;
  max-height: 40px; }

.key .active-label .icon {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 11px;
  height: 8px;
  background-image: url(../images/caret-bottom-gray.png);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  transition: 0.25s ease-in-out; }

.key .active-label .icon.rotate-icon {
  transform: rotate(-180deg);
  transform-origin: center center; }

.key .grayscale {
  filter: brightness(1.3); }

.key .light {
  filter: brightness(3); }

.key .active-label:hover, .selected {
  color: white;
  background-color: #6C6D70; }

.key .answer-countries-list {
  width: auto;
  margin-top: 5px;
  margin-bottom: 20px; }

.badge {
  display: inline-block;
  width: 13px;
  height: auto;
  padding: 7px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.15);
  float: right;
  position: absolute;
  top: 0px;
  left: 55%;
  right: 0px;
  bottom: 0px; }

.key tr.clickable {
  cursor: hand; }

.tags img {
  padding-left: 45%; }

.active-label .icon .hidden {
  display: none; }

.map__selects .select2-container--default:last-child {
  margin-left: 20px; }

.select2-container--default .select2-selection--single.srrl {
  padding-left: 10px;
  background-color: #fff;
  color: #fff;
  border-radius: 4px;
  border-color: #d1d1d1; }

.select2-container--default.select2-container--open .select2-selection--single.srrl {
  border-bottom: none; }

.select2-dropdown.srrl .select2-results__option--highlighted[aria-selected] {
  background-color: #535456; }

.select2-dropdown.srrl .select2-results__option.not-covered {
  background-color: #eee;
  color: #999; }

.select2-dropdown.srrl .select2-results__option.not-covered:hover {
  background-color: #fc393d;
  color: white; }

.select2-container--default .select2-selection--single.srrl .select2-selection__arrow {
  background-color: #E65722;
  height: 26px;
  width: 25px;
  top: 1px;
  right: 1px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.select2-container--default .select2-selection--single.srrl .select2-selection__arrow b {
  display: inline-block;
  font-style: normal;
  position: relative;
  top: 2pt;
  width: 8px;
  height: 8px;
  border-style: none;
  border-right: 1px solid white;
  border-top: 1px solid white;
  margin-top: 7px;
  left: 40%;
  border-color: white;
  transition: .5s transform;
  transform: rotate(45deg);
  pointer-events: none; }

.no-radius {
  transition: .8s border-bottom-right-radius;
  border-bottom-right-radius: 0 !important; }

.select2-container--default.select2-container--open .select2-selection--single.srrl .select2-selection__arrow b {
  transform: rotate(135deg) translateX(-3px);
  border-color: white;
  border-width: 1px; }

.select2-container--default .select2-selection--single.srrl .select2-selection__rendered {
  color: #87888a;
  line-height: 28px; }

.select2-selection__rendered {
  padding-left: 20px;
  font-size: 14px;
  color: #87888A; }

.select2-results__options li {
  padding-left: 20px;
  font-size: 14px;
  color: #87888A; }

.select2-container .select2-container--default .select2-search--dropdown .select2-search__field {
  border: none; }

.select2-dropdown.srrl {
  border-color: #d1d1d1; }

.map__selects__inner button.clear {
  display: none;
  border-radius: 4px;
  background-color: transparent;
  color: #8F9092;
  font-size: 1em;
  padding: 5px;
  border: 1px solid #d1d1d1;
  margin-left: 10px;
  vertical-align: middle; }

.map__selects__inner button.clear:hover {
  color: #333;
  border-color: #333; }

.map.has-selection .map__selects__inner button.clear {
  display: inline-block; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  box-shadow: 6px 6px 12px #5C5C5C;
  border-radius: 2px;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 80%;
  /* Could be more or less, depending on screen size */
  text-align: center; }

.modal-content p {
  color: gray;
  margin-top: 8%;
  margin-bottom: 8%; }

/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-size: 20px; }

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .select2-search__field {
    display: none; }

  .map.has-selection .map__selects__inner button.clear {
    display: none; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .modal-content {
    margin-top: 60%; } }
.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltiptext {
  width: 200px;
  background-color: #929294;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 35%;
  margin-left: -60px;
  height: 80px;
  opacity: .8;
  display: table-cell;
  vertical-align: middle; }
  .tooltip .tooltiptext p {
    margin-top: 13%; }

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #929294 transparent; }

.contact {
  padding: 40px 20% 80px 20%;
  color: #6c6d70; }

.contact .notice {
  display: none;
  font-size: 1.1428em;
  padding: 20px;
  margin-top: 20px;
  background-color: #FBFAF8;
  border: 1px solid #d3d3d3;
  border-radius: 4px; }

.contact.has-success .notice.success {
  display: block; }

.contact.has-error .notice.error {
  display: block; }

.contact .notice.validation-error {
  border-color: #E65722; }

.contact.has-validation-error .notice.validation-error {
  display: block; }

.contact .column {
  max-width: 250px;
  margin-right: 40px;
  float: left; }

.contact .column.right-column {
  max-width: 300px;
  margin: 0; }

.contact .field-wrapper {
  margin-bottom: 20px; }

.contact form label {
  display: block;
  margin-bottom: .5em; }

.contact form label .mandatory::after {
  content: '*';
  color: red; }

.contact form input[type=text],
.contact form textarea {
  width: 250px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #d3d3d3; }

.contact form #contact-submit {
  background-color: #E65722;
  border: none;
  border-radius: 4px;
  padding: 4px;
  color: #FBFAF8;
  text-align: center;
  min-width: 120px; }

.contact form #contact-submit:disabled {
  background-color: #E8E7E5; }

.contact .message-counter span.length-warning {
  display: none; }

.contact .message-counter.too-long {
  color: red; }

.contact .message-counter.too-long span.length-warning {
  display: inline; }

#contact-field-hitme {
  display: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .contact {
    box-sizing: border-box;
    padding: 40px 15px 50px 15px;
    display: block;
    height: 100%; }

  .contact .fixed-panel {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    top: 0;
    right: 0; } }
.grid {
  margin-top: 100px;
  margin-left: 180px;
  padding-bottom: 45px; }

.grid .content-inner .country_select_container {
  margin: 20px 0 10px 0; }

.grid button.close-all {
  border-radius: 4px;
  background-color: #FBFAF8;
  color: #8F9092;
  font-size: 1em;
  padding: 5px;
  border: 1px solid #d1d1d1;
  margin-left: 20px;
  margin-top: 1px;
  vertical-align: middle; }

.grid button.close-all:hover {
  color: #333;
  border-color: #333; }

.grid .grid-table {
  margin-top: 50px; }

.grid .hidden {
  display: none; }

.grid .ellipsis {
  color: white;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.grid .country-name {
  position: relative;
  background-color: #d1d1d1;
  text-align: left;
  font-weight: bold;
  padding: 5px;
  color: #333; }

.grid .close-button {
  cursor: pointer;
  display: block;
  padding-right: 5px;
  position: absolute;
  top: 5px;
  right: 5px; }

.grid th {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px; }

.grid td {
  color: white;
  max-width: 150px; }

.grid .topic-title {
  color: #333;
  font-weight: bold;
  padding: 20px 0;
  padding-bottom: 5px;
  border-top: 1px solid #ccc; }

.grid .topic-question p, .grid .topic-title p {
  color: #333;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
  border-style: solid;
  border-width: 0 0 0 4px;
  border-color: #fff300;
  position: relative;
  left: -10px;
  padding-left: 6px; }
.grid .topic-question .question, .grid .topic-title .question {
  width: 4px;
  height: inherit;
  background-color: yellow; }

.grid .country-cell {
  cursor: pointer;
  vertical-align: top;
  color: #333; }

.grid .country-cell:hover {
  background-color: #eee; }

.grid .evaluation-strip,
.grid .evaluation-label {
  pointer-events: none; }

.grid .evaluation-strip {
  height: 15px; }

.grid .evaluation-label {
  padding: 5px; }

/*Mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .grid {
    margin-left: 20px;
    margin-top: 0; }

  .grid .content-inner {
    padding-top: 40px; }

  .grid .content-inner .country_select_container {
    margin: 10px 0 20px 0; }

  .grid .grid-table {
    margin-top: 0; }

  .grid .fixed-panel {
    height: 90%; } }

/*# sourceMappingURL=main.css.map */