@charset "UTF-8";

.contact {
  padding: 40px 20% 80px 20%;
  color: #6c6d70;
}

.contact .notice {
  display: none;
  font-size: 1.1428em;
  padding: 20px;
  margin-top: 20px;
  background-color: #FBFAF8;
  border: 1px solid #d3d3d3;
  @include border-radius($border-radius);
}

.contact.has-success .notice.success {
  display: block;
}

.contact.has-error .notice.error {
  display: block;
}

.contact .notice.validation-error {
  border-color: $orange;
}

.contact.has-validation-error .notice.validation-error {
  display: block;
}

.contact .column {
  max-width: 250px;
  margin-right: 40px;
  float: left;
}

.contact .column.right-column {
  max-width: 300px;
  margin: 0;
}

.contact .field-wrapper {
  margin-bottom: 20px;
}

.contact form label {
  display: block;
  margin-bottom: .5em;
}

.contact form label .mandatory::after {
  content: '*';
  color: red;
}

.contact form input[type=text],
.contact form textarea {
  width: 250px;
  padding: 4px;
  @include border-radius($border-radius);
  border: 1px solid #d3d3d3;
}

.contact form #contact-submit {
  background-color: $orange;
  border: none;
  @include border-radius($border-radius);
  padding: 4px;
  color: #FBFAF8;
  text-align: center;
  min-width: 120px;
}

.contact form #contact-submit:disabled {
  background-color: #E8E7E5;
}

.contact .message-counter span.length-warning {
  display: none;
}

.contact .message-counter.too-long {
  color: red;
}

.contact .message-counter.too-long span.length-warning {
  display: inline;
}

// SPAM prevention:
#contact-field-hitme {
  display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
  .contact {
    box-sizing: border-box;
    padding: 40px 15px 50px 15px;
    display: block;
    height: 100%;
  }

  .contact .fixed-panel {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    top: 0;
    right: 0;
  }
}
