@charset "UTF-8";

.country .header {
  width: 100%;
  height: $top-line-height + $map-selects-height;  
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E8E7E5;
  @include panel-shadow();
  z-index: 2;
}

.country .header .header-inner {
  padding: 0 20%;
}

.country .header button.go-back {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: $orange;
  @include background-image('caret-left', 10px 17px);
  background-position: 15px (($map-selects-height - $top-line-height) / 2) + 4px;
  background-repeat: no-repeat;
}

.country .header h1.title {
  margin-top: $top-line-height + 10px;
  height: 1.1751em;
}

.country .header .controls {
  margin-top: 5px;
  line-height: 100%;
}

.country .header .controls .topics-select-container {
  display: inline-block;
}

.country .header .controls button.crl-only {
  @include border-radius($border-radius);
  background-color: #FBFAF8;
  color: #8F9092;
  font-size: 1em;
  border: none;
  padding: 6px 6px 6px 30px;
  border: 1px solid #d1d1d1; 
  margin-left: 20px;
  @include background-image('crl-circle', 20px 20px);
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

.country.has-crl-only .header .controls button.crl-only {
  @include background-image('crl-circle-on', 20px 20px);
}

.country .header .controls button.print {
  display: none;
}

@media only screen and (min-width: 992px) {
  .country .header .controls button.print {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    @include background-image('printer', 20px 20px);
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 20px;
  }
}

.country .content {
  overflow: auto;
  height: 100%;
}

.country .content .content-inner {
  position: relative;
  padding: $top-line-height + $map-selects-height 20% 100px 20%; 
  box-sizing: border-box;
}

.header .updated {
  text-align: right;
  color: #000;
  float: right;
  background-color: #E0C5B9;
  border-radius: 2px;
  padding: 5px;
  font-size: .9em;
}

.header.updated:hover {
  color: #87888a;
}

.country .content h2 {
  color: #6c6d70;
}

.country .content .topics .contribute-link {
  display: inline-block;
  border-radius: 2px;
  padding: 3px 10px;
  background-color: #5E414E;
  color: white;
  text-decoration: none;
}

.country .content .topics .contribute-link span {
  color: #CC925A;
}

.country .content .topics ul.tags + .contribute-link {
  margin-top: 20px;
}

.country .content .intro {
  margin-bottom: 60px;
}

.country .content .intro p {
  color: #6c6d70;
}

.country .content .intro p:first-of-type {
  margin-top: 0px;
}

.country .topic {
  margin: 40px 0;
  padding: 0 0 0 20px;
}

.country .topic h2 {
  position: relative;
}

.country .topic h2::before {
  content: '\00A0';
  display: block;
  width: 500px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 0px;
  margin-left: -510px;
  background-image: url(../images/topic-line.svg);
  background-size: 500px 15px;
}

.country.has-crl-only .topic.no-crl h2 {
  color: #d3d3d3;
}

.country.has-crl-only .topic.no-crl h2:hover::after {
  content: ' (hidden by CRL filter)';
  color: #d3d3d3;
  font-size: 0.666em;
}

.country.has-crl-only .topic.no-crl ul.tags,
.country.has-crl-only .topic.no-crl .question {
  display: none;
}

.country .topic:first-of-type {
  padding-top: 0;
}

.country .topic h2 {
  margin-left: -20px;
}

.country .topic ul.tags {
  display: block;
  margin: 0 0 0 -20px;
  padding: 0;
}

.country .topic ul.tags li {
  display: inline-block;
  list-style-type: none;
  background-color: #E8E7E5;
  color: #535456;
  padding: 2px 4px;
  @include border-radius($border-radius);
  margin: 0 20px 4px 0;
}

.country .question {
}

.country .question h3 {
  color: $orange;
  margin-bottom: 0;
}

.country .question h4 {
  color: #535456;
  margin-bottom: 0;
}

.country .question p,
.country .question ul li {
  color: #6c6d70;
}

.country .question .answer p,
.country .question .explanation p {
  font-size: 1.1428em;
}

.country .question .answer a,
.country .question .explanation a {
  background-color: #E8E7E5;
}

.country .question .answer p:first-child,
.country .question .explanation p:first-child {
  margin-top: 0;
}


.country .intro p.quote,
.country .question .explanation p.quote,
.country .question .answer p.quote {
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  background-color: #E8E7E5;
}

.country .intro p.quote:first-of-type,
.country .question .explanation p.quote:first-of-type,
.country .question .answer p.quote:first-of-type,
.country .intro :not(.quote) + p.quote,
.country .question .explanation :not(.quote) + p.quote,
.country .question .answer :not(.quote) + p.quote{
  padding-top: 20px;
  @include background-image('quote', 20px 16px);
  background-repeat: no-repeat;
  background-position: 10px 20px;
}

.country .intro p.quote + p.quote,
.country .question .explanation p.quote + p.quote,
.country .question .answer p.quote + p.quote {
  margin: -20px 0 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.country .question ul,
.country .question ul li,
.country .question ul li span {
  font-size: 1em !important; /* this ugly hack is necessary because the font-size is being set by tinyMCE in the style attribute */
  line-height: normal !important;
}

.country .question .answer ul,
.country .question .explanation ul,
.country .question ul.related-documents {
  list-style: none;
  padding: 0 20px 20px 20px;
  margin: 0;
}

.country .question .answer ul li,
.country .question .explanation ul li,
.country .question ul.related-documents li {
  font-size: 1em;
  margin-left: -.7em;
  line-height: 1.3em;
  padding: 5px 0;
}

.country .question .answer ul li:before,
.country .question .explanation ul li:before,
.country .question ul.related-documents li:before {
  content: "• ";
  color: rgb(244, 129, 31);
}

.country li a,
.country .question ul.related-documents li a {
  color: #6c6d70;
}

.countries-list {
  padding: 40px + $top-line-height 20% 40px 20%;
}

.countries-list ul {
  list-style: none;
  display: block;
  padding: 20px 0 40px 0;
  margin: 0;
}

.countries-list ul::after {
  visibility: hidden;
  display: block;
  height: 0;
  content: ' ';
  clear: both;
}

.countries-list ul li {
  cursor: pointer;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  float: left;
  width: 33%;
  padding: 0px 10px;
  min-height: 2em;
  margin-bottom: 1em;
}

.countries-list ul li h2 {
  color: #6c6d70;
  padding: 0;
  margin: 0;
}

.countries-list ul li h2:active,
.countries-list ul li h2:focus,
.countries-list ul li h2:hover {
  color: $orange;
}

// Print styles
@media print {
  .country .header {
    background: none;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
  }

  .country .header button,
  .country .header .controls {
    display: none;
  }

  .country .header .header-inner {
    padding: 0 0;
  }

  .country .content {
    padding: 0;
    overflow: visible;
    height: auto;
  }

  .country .content .content-inner {
    padding: 1em;
    position: static;
  }

}

/*Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
  .country .header h1.title {
    font-size: 1.2em;
  }

  .country .header .controls button.crl-only{
    width: 160px;
    margin-left: 0;
  }

  #sri-logo{
    right: 20px;
  }

  #sri-logo img{
    width: 42px;
    height: 32px;
  }

  .header .updated {
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8em;
    width: 160px;
    box-sizing: border-box;
    text-align: center;
  }

  .header {
    width: 100%;
    height: 80px;  
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E8E7E5;
    @include panel-shadow();
    z-index: 2;
  }

  .countries-list .header .header-inner {
    padding: 0 0;
  }

  .countries-list .header .header-inner {
    padding: 0 20%;
  }
   .countries-list .content .content-inner {
    padding: 30px 0 30px 5%; 
  }

  .countries-list .content {
    overflow: auto;
    height: 100%;
  }

  .countries-list {
    padding: 10px + $top-line-height 0 10px 5%;
  }

  .countries-list{
    display: block;
    height: 95%;
    width: 95%;
    overflow: hidden;
  }

  .countries-list ul li {
    width: 50%;
  }

  .country .fixed-panel {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    top: 0;
    right: 0;
  }

  .country .header .controls button.crl-only,
  .country.has-crl-only .header .controls button.crl-only {
    background-size: 10px 10px;
    background-position: 6px 6px;
  }

  .select2-selection__rendered{
    font-size: 11px;
  }
}

.country .contribute{
  cursor: hand;
  position: absolute;
  bottom: 80px;
  left: 40px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #5E414E;
}

.country .contribute p{
  text-align: center;
  font-size: .9em;
  font-weight: 700;
}

.country .contribute p.top{
  color: white;
  margin-top: 30%;
  margin-bottom: 0;
}

.country .contribute p.bottom{
  margin-top: 1px;
  color: #CC925A;
}

/*Mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
  .countries-list ul li h2 {
    float:none;
    width: 90%;
  }

  .contribute{
    bottom: 30px;
    left: 0;
    border-radius: 0 5px 0 0;
    height: 50px;
    width: 100px;
  }

  .contribute p.top{
    margin-top: 8px;
  }

}
/*Mobile Portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: portrait){

  .country .header .controls button.crl-only{
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 1px 0;
  }

  .select2-selection__rendered {
    font-size: .8em;
  }

  .country .content .content-inner {
    padding: $top-line-height + $map-selects-height 5% 100px 5%; 
  }
}

/*Mobile Landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: landscape){
  .header .updated {
    margin-top: 7px;
  }

  .country .content .content-inner {
    padding: $top-line-height + $map-selects-height 5% 100px 5%; 
  }
}

/*Tablet landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 992px) and (orientation: landscape){
  #sri-logo img{
    width: 52px;
    height: 42px;
  }

  .country .content .content-inner {
    padding: $top-line-height + $map-selects-height 5% 100px 5%; 
  }
}
/*Tablet portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 992px) and (orientation: portrait){
  #sri-logo img{
    width: 52px;
    height: 42px;
  }

  .country .content .content-inner {
    padding: $top-line-height + $map-selects-height 1% 100px 1%; 
  }

  .contribute{
    bottom: 30px;
    left: 0;
    border-radius: 0 5px 0 0;
    height: 50px;
    width: 100px;
  }

  .contribute p.top{
    margin-top: 8px;
  }
}

