.grid{
  margin-top: 100px;
  margin-left: 180px;
  padding-bottom: $bottom-line-height+15px;
}

.grid .content-inner .country_select_container {
  margin: 20px 0 10px 0;
}

.grid button.close-all {
  @include border-radius($border-radius);
  background-color: #FBFAF8;
  color: #8F9092;
  font-size: 1em;
  padding: 5px;
  border: 1px solid #d1d1d1;
  margin-left: 20px;
  margin-top: 1px;
  vertical-align: middle;
}

.grid button.close-all:hover {
  color: #333;
  border-color: #333;
}

.grid .grid-table{
  margin-top: 50px;
}

.grid .hidden{
  display: none;
}

.grid .ellipsis{
  color: white;
  width:100px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.grid .country-name {
  position: relative;
  background-color: rgb(209, 209, 209);
  text-align: left;
  font-weight: bold;
  padding: 5px;
  color: #333;
}

.grid .close-button{
  cursor: pointer;
  display: block;
  padding-right: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.grid th{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  
}

.grid td{
  color: white;
  max-width: 150px;
}

.grid .topic-title{
  color: #333;
  font-weight: bold;
  padding: 20px 0;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
}

.grid .topic-question, .grid .topic-title{
  p{
    color: #333;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
    border-style: solid;
    border-width: 0 0 0 4px;
    border-color: rgb(255,243,0);
    position: relative;
    left: -10px;
    padding-left: 6px;
  }

  .question{
    width: 4px;
    height: inherit;
    background-color: yellow;
  }
}

.grid .country-cell{
  cursor: pointer;
  vertical-align: top;
  color: #333;
}

.grid .country-cell:hover {
  background-color: #eee;
}

.grid .evaluation-strip,
.grid .evaluation-label {
  pointer-events: none;
}
.grid .evaluation-strip {
  height: 15px;
}

.grid .evaluation-label {
  padding: 5px;
}


/*Mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
  .grid{
    margin-left: 20px;
    margin-top: 0;
  }

  .grid .content-inner {
    padding-top: 40px;
  }

  .grid .content-inner .country_select_container {
    margin: 10px 0 20px 0;
  }

  .grid .grid-table{
    margin-top: 0;
  }

  .grid .fixed-panel{
    height: 90%;
  }
}
