@charset "UTF-8";

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

#app-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#menu, #content-wrapper, #right-panel {
  transition: transform $slide-speed;
}

#menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  z-index: 100;
  overflow: auto;
}

@media all and (min-width: 320px) {
  #menu {
    width: $menu-width;
  }
}

#menu-link {
  position: fixed;
  top: $top-clearance;
  left: 20px;
  z-index: 100;
  transition: .3s ease-in-out;
  opacity: 1;
  pointer-events: all;
}

.has-panel #menu-link {
  opacity: 0;
  pointer-events: none;
}

#content-wrapper {
  width: 100%;
  min-height: 100%;
  transform: translateX(0);
  z-index: 1;
}

#right-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  z-index: 10;
}

@media all and (min-width: 320px) {
  #right-panel {
    width: $right-panel-width;
  }
}

#app-container.has-menu,
#app-container.has-panel {
  overflow: hidden;  
}

#app-container.has-menu #menu {
  transform: translateX(0);
}

#app-container.has-menu #content-wrapper {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  #app-container.has-menu #content-wrapper {
    transform: translateX($menu-width);
  }
}

#app-container.has-panel #content-wrapper {
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  #app-container.has-panel #content-wrapper {
    transform: translateX(-$right-panel-width);
  }
}

#app-container.has-panel #right-panel {
  transform: translateX(0);
}

#top-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-line-height;
  z-index: 20;
}

#bottom-line {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $bottom-line-height;
  z-index: 20;
}

#sri-logo {
  position: fixed;
  top: $top-clearance - 13px;
  right: 40px;
  z-index: 100;
}

#sri-logo a {
  display: block;
  border: none;
}

// Print styles
@media print {
  #app-container {
    overflow: visible;
    width: auto;
    height: auto;
    position: static;
  }

  #content-wrapper {
    display: none;
  }

  #top-line, #bottom-line, #menu, #menu-link {
    display: none;
  }

  #right-panel {
    position: static;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    transform: none;
  }
}
