@charset "UTF-8";

/**
  * Table of contents
  *
  * - Map
  * - Map Help
  * - Country Card
  * - Key
  * - Zoom
  * - Select menus
  * - Map container
  */


//*************************************
// Map
//*************************************
.map {
  width: 100%;
  height: 100%;
}

//*************************************
// Map Help
//*************************************
.map__help {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//*************************************
// Country card
//*************************************
.map__country-card {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.map__country-card.open {
  pointer-events: none;
}

.map__country-card .card-container {
  pointer-events: all;
  position: absolute;
  bottom: 40px + $bottom-line-height;
  right: 20px;
  width: 380px;
  min-height: 100px;
  transition: .3s ease-in-out;
  transform: translateY(200%) rotate(30deg);
  @include panel-shadow();
  @include border-radius-fourcorners($border-radius, $border-radius,$border-radius,$border-radius);
}

.map__country-card.open .card-container {
  transform: translateY(0) rotate(0deg);
}

.map__country-card button.close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.map__country-card h3 {
  background-color: rgb(83, 84, 86);
  @include border-radius-fourcorners($border-radius, 0, 0, $border-radius);
  padding: 10px 30px 10px 10px; 
  margin: 0;
  color: #fff;
}

.map__country-card h4.topic-name {
  margin: 0;
  padding: 10px 20px 10px 10px;
  background-color: #6C6D70;
  color: #d3d3d3;
}

.map__country-card td.question{
  margin: 0;
  padding: 10px 20px 10px 10px;
  background-color: #6C6D70;
  color: #d3d3d3;
}

.map__country-card h4.topic-name .question {
  font-size: .875em;
  display: block;
  color: #c4c4c4;
}

.map__country-card h4.topic-name .question p {
  margin: 0;
}

.map__country-card .answer {
  padding: 10px 20px 10px 10px;
  background-color: #00ADEF;
  font-size: 1.1428em;
  color: #E8E7E5;
}

.map__country-card .tags table {
  width: 100%;
  border: none;
}

.map__country-card .tags td {
  padding: 10px;
  vertical-align: top;
}

.map__country-card td.code {
  width: 30%;
}

.map__country-card td.name {
  width: 70%;
}

.map__country-card .tags tr:nth-child(odd) td.code {
  background-color: #87888A;
}

.map__country-card .tags tr:nth-child(even) td.code {
  background-color: #797A7D;
}

.map__country-card .tags tr:nth-child(odd) td.name {
  background-color: #E8E7E5;
}

.map__country-card .tags tr:nth-child(even) td.name {
  background-color: #D3D3D3;
}

.map__country-card .tags td.code h4 {
  color: #E8E7E5;
  margin: 0;
  padding: 0;
}

.map__country-card button.details {
  width: 100%;
  text-align: left;
  background-color: #F1F0EE;
  color: #6C6D70;
  font-size: 1em;
  padding: 10px;
  border: none;
  @include border-radius-fourcorners(0, $border-radius, $border-radius, 0);
  @include background-image('caret-right', 17px 10px);
  background-repeat: no-repeat;
  background-position: center right;
}

.map__country-card .no-info {
  padding: 10px 20px 10px 10px;
  background-color: #87888A;
  color: #d3d3d3;
}

.map__country-card .no-info a {
  color: #d1d1d1;
}
.map__country-card .warning {
  background-color: #F5D525;
}

//*************************************
// Key
//*************************************
.map__key {
  position: absolute;
  bottom: 40px + $bottom-line-height;
  right: 20px;
  width: 520px;
  transition: opacity .25s ease-in-out;
  opacity: 1;
  @include panel-shadow();
  @include border-radius-fourcorners($border-radius, $border-radius,$border-radius,$border-radius);
}

.map.has-country-card .map__key {
  pointer-events: none;
  opacity: 0;
}

.map__key button.collapse {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border: none;
  background-color: #424242;
  @include border-radius-fourcorners($border-radius, 0, 0, 0);
}

.map__key .key-header {
  position: relative;
}

.map__key.collapsed button.collapse {
  @include border-radius-fourcorners($border-radius, $border-radius, 0, 0);
}

.map__key button.collapse span.icon {
  @include background-image('caret-bottom', 17px 10px);
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 11px;
  width: 17px;
  height: 10px;
  transform: rotate(0);
  transition: .25s ease-in-out;
}

.map__key.collapsed button.collapse span.icon {
  transform: rotate(-180deg);
}

.map__key h4.topic-name {
  margin: 0;
  padding: 10px 50px 10px 10px;
  background-color: #6C6D70;
  color: #d3d3d3;
  @include border-radius-fourcorners($border-radius, 0, 0, $border-radius);
}

.map__key.collapsed h4.topic-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 40px;
  max-height: 20px;
  @include border-radius-fourcorners(0, 0, $border-radius, $border-radius);
}

.map__key h4.topic-name .question {
  font-size: .875em;
  display: block;
  color: #c4c4c4;
}

.map__key h4.topic-name .question p {
  margin: 0;
}

.map__key.collapsed h4.topic-name .question {
  display: none;
}

.map__key .key {
  max-height: 1000px;
  overflow: auto;
  transition: max-height .25s ease-in-out;
}

.map__key.collapsed .key {
  max-height: 0px;
}

.map__key .key table {
  width: 100%;
  border: none;
  table-layout: fixed;
}

.map__key .key table td.color {
  width: 60px;
  background-color: red;
  position: relative;
}

.map__key .key table tr td.label {
  color: #535456;
  padding: 0;
}

.map__key .key table tr:nth-child(odd) td.label {
  background-color: #E8E7E5;
}

.map__key .key table tr:nth-child(even) td.label {
  background-color: #D3D3D3;
}

.map__key .key table tr:last-child td.color {
  @include border-radius-fourcorners(0, 0, $border-radius, 0);
}

.map__key .key table tr:last-child td.label {
  @include border-radius-fourcorners(0, $border-radius, 0, 0);
}

.inactive{
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 40px;
  display: inline-block;
}


//*************************************
// Zoom controls
//*************************************
// .map__zoom {
//   position: absolute;
//   bottom: 20px+ $bottom-line-height;
//   left: 20px;
//   width: 40px;
// }
// 
// .map__zoom .button {
//   width: 40px;
//   height: 40px;
//   background-color: #d1d1d1;
//   @include image-button;
//   @include border-radius($border-radius);
// }
// 
// .map__zoom .button:last-child {
//   margin-top: 10px;
// }
// 
// .map__zoom .zoom-in {
//   background-position: 8px 8px;
//   background-size: 24px 24px;
//   @include background-image('plus-icon', 24px 24px);
// }
// 
// .map__zoom .zoom-out {
//   background-position: 8px 19px;
//   background-size: 24px 2px;
//   @include background-image('minus-icon', 24px 2px);
// }

//*************************************
// Select menus
//*************************************
.map__selects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $map-selects-height + $top-line-height;
  background-color: #E8E7E5;
  @include panel-shadow();
}

.map__selects__inner
{
  position: absolute;
  left: 250px;
  top: $top-clearance;
}


//*************************************
// Map component container
//*************************************
.map__map-container {
  position: absolute;
  top: $map-selects-height + $top-line-height;
  width: 100%;
  bottom: $bottom-line-height;
  background-color: $bg-light;
}

.map__leaflet #map 
{ 
  position: absolute; 
  top: $map-selects-height + $top-line-height;
  width: 100%; 
  height: 500px; 
  background-color: #FBFAF8;
}

img.leaflet-tile {
  pointer-events: none;
}

.leaflet-map-pane .leaflet-tile-pane {
  z-index: 10;
}


/*Mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
  .rotate-icon{
    margin-right: 4px;
   }

  .select2-container:last-child {
    width: 160px !important; 
  }
}

/*Mobile portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: portrait){
  .map__key .key{
    overflow: auto;
  } 
  .map__selects__inner{
    position: absolute;
    left: 18px;
    top: 70px;
  } 
  .map .map__selects .select2-container--default:last-child {
    margin-left: 10px;
  }

  .map .map__key{
    width: 300px;
  }

  .select2-container {
    width: 140px !important; 
  }

  .leaflet-left .leaflet-control{
    display: none;
  }

  .map__country-card.open .card-container{
    width: 320px;
  }

  .map__key button.collapse{
    height: 39px;
  }
}

/*Mobile landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: landscape){
  .map__selects__inner{
    position: absolute;
    left: 150px;
  }

  .select2-container {
    width: 160px !important; 
  }

  .map__key{
    bottom: 50px;
  }

  .map__selects{
    height: 80px;
  }

  .leaflet-left .leaflet-control{
    display: none;
  }

  .map__leaflet #map{
    top: 80px;
  }

  .map .key-container{
    overflow: auto;
  }

  .map__key .key{
    overflow: auto;
  }
}

/*Tablet landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 992px) and (orientation: landscape){
  .map__selects__inner{
    left: 150px;
  }
}

/*Tablet portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 992px) and (orientation: portrait){
  .map__selects__inner{
    left: 20%;
  }
}

.key tr{
  width: 100px;
}
.key td.color{
  color: #FFF;
  text-align: center;
}

.key td.label{
  text-align: center;
  word-wrap:break-word;
}

.key td.label .hidden{
  display: none;
}

.key .active-label {
  position: relative;
  padding: 5px 25px 5px 5px;
  max-height: 40px;
}

.key .active-label .icon{
  position: absolute;
  top: 12px;
  right: 10px;
  width: 11px;
  height: 8px;
  background-image: url(../images/caret-bottom-gray.png);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  transition: 0.25s ease-in-out;
}

.key .active-label .icon.rotate-icon{
  transform: rotate(-180deg);
  transform-origin: center center;
}

.key .grayscale {
  -webkit-filter: brightness(1.3); 
  filter: brightness(1.3);
}

.key .light{
  -webkit-filter: brightness(3); 
  filter: brightness(3);
}

.key .active-label:hover, .selected {
  color: white;
  background-color: #6C6D70;
}

.key .answer-countries-list{
  width: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

.badge {
    display: inline-block;
    //min-width: 10px;
    width: 13px;
    height: auto;
    padding: 7px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgba(0,0,0,.15);
    float: right;
    position: absolute;
    top:0px; left:55%; right:0px; bottom:0px;
}

.key tr.clickable{
  cursor: hand;
}


.tags img{
  padding-left: 45%;
}

.active-label .icon .hidden{
  display: none;
}

