@charset "UTF-8";

#menu-link {
  text-transform: uppercase;
  font-size: 1.4285em;
  font-weight: 300;
  color: #6c7d70;
  cursor: pointer;
}

.has-menu #menu-link {
  background-color: #fff;
}

$menu-icon-width: 20px;
$menu-icon-height: 16px;

#menu-icon {
  margin-top: 2px;
  display: inline-block;
  width: $menu-icon-width;
  height: $menu-icon-height;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #6C6D70;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* Icon 3 */

#menu-icon span:nth-child(1) {
  top: 0px;
}

#menu-icon span:nth-child(2),
#menu-icon span:nth-child(3) {
  top: 7px;
}

#menu-icon span:nth-child(4) {
  top: 14;
}

.has-menu #menu-icon span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%;
}

.has-menu #menu-icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.has-menu #menu-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.has-menu #menu-icon span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%;
}

#menu-link .label {
  margin-left: 20px;
}

.has-menu #menu {
  @include panel-shadow;
}

#menu .requires-auth {
  display: none;
}

.has-auth #menu .requires-auth {
  display: list-item;
}

#menu {
  background-color: #fff;
}

#menu:focus {
  background-color: #E8E7E5;
}

nav.menu {
  padding-top: $top-clearance + 40px;
}

nav.menu ul,
nav.menu ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}

nav.menu ul li {
  margin: 0 20px;
}

nav.menu ul li:hover, nav.menu ul li a:focus{
  background-color: #E8E7E5;
}

nav.menu ul li a {
  display: block;
  padding: 10px 10px 10px 10px;
  font-size: 1.1428rem;
  color: #6C6D70;
  text-decoration: none;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
