@charset "UTF-8";

.page-wrapper {
  background-color: rgb(251, 250, 248);
  min-height: 100%;
}

//TODO: responsive
.page-wrapper .page {
  padding: $top-clearance 20%;
  color: #6c6d70;
}

// Specific pages
.page.welcome {
  padding-top: 250px + $top-clearance;
  @include background-image('world-dots', 461px 233px);
  background-repeat: no-repeat;
  background-position: center 55px;
}

// TODO: responsive
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
   .page .header .header-inner {
    padding: 0 0;
  }

  .page .header .header-inner {
    padding: 0 20%;
  }
   .page .content .content-inner {
    padding: 30px 0 30px 5%; 
  }

  .page .content {
    overflow: auto;
    height: 100%;
  }

  .page {
    padding: 10px + $top-line-height 0 10px 5%;
    display: block;
    overflow: hidden;
  }

  .page body h1 {
    margin-top: 65px;
  }

  .page.welcome {
    background-size: 230px 116px;
    padding-top: 125px;
    margin-top: 50px;
  }
}
