@charset "UTF-8";

.map__selects .select2-container--default:last-child {
  margin-left: 20px;
}

.select2-container--default .select2-selection--single.srrl 
{
  padding-left: 10px;
  background-color: #fff;
  color: #fff;
  @include border-radius($border-radius);
  border-color: #d1d1d1;
}

.select2-container--default.select2-container--open .select2-selection--single.srrl {
  border-bottom: none;
}

.select2-dropdown.srrl .select2-results__option--highlighted[aria-selected]
{
  background-color: #535456;
}

.select2-dropdown.srrl .select2-results__option.not-covered {
  background-color: #eee;
  color: #999;
}

.select2-dropdown.srrl .select2-results__option.not-covered:hover {
  background-color: rgb(252, 57, 61);
  color: white;
}


.select2-container--default .select2-selection--single.srrl .select2-selection__arrow
{
  background-color: $orange;
  height: 26px;
  width: 25px;
  top: 1px;
  right: 1px;
  @include border-radius-fourcorners($border-radius, $border-radius, 0, 0);
}

.select2-container--default .select2-selection--single.srrl .select2-selection__arrow b
{
  display: inline-block;
  font-style: normal;
  position: relative;
  top: 2pt;
  width: 8px;
  height: 8px;
  border-style: none;
  border-right: 1px solid white;
  border-top: 1px solid white;
  margin-top: 7px;
  left: 40%;
  border-color: white;
  transition: .5s transform;
  transform: rotate(45deg);
  pointer-events: none;
}

.no-radius{
  transition: .8s border-bottom-right-radius;
  border-bottom-right-radius: 0 !important;
}

.select2-container--default.select2-container--open .select2-selection--single.srrl .select2-selection__arrow b
{
  transform: rotate(135deg) translateX(-3px);
  border-color: white;
  border-width: 1px;
}

.select2-container--default .select2-selection--single.srrl .select2-selection__rendered
{
  color: #87888a;
  line-height: 28px;
}

.select2-selection__rendered
{
  padding-left: 20px;
  font-size: 14px;
  color:#87888A;
}

.select2-results__options li
{
  padding-left: 20px;
  font-size: 14px;
  color:#87888A;
}

.select2-container .select2-container--default .select2-search--dropdown .select2-search__field 
{
    border: none;
}

.select2-dropdown.srrl
{
  border-color: #d1d1d1;
}

.map__selects__inner button.clear {
  display: none;
  @include border-radius($border-radius);
  background-color: transparent;
  color: #8F9092;
  font-size: 1em;
  padding: 5px;
  border: 1px solid #d1d1d1;
  margin-left: 10px;
  vertical-align: middle;
}

.map__selects__inner button.clear:hover {
  color: #333;
  border-color: #333;
}

.map.has-selection .map__selects__inner button.clear {
  display: inline-block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    box-shadow: 6px 6px 12px #5C5C5C;
    border-radius: 2px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.modal-content p{
  color: gray;
  margin-top: 8%;
  margin-bottom: 8%;
}
/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-size: 20px;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
  .select2-search__field{
    display: none;
  }

  .map.has-selection .map__selects__inner button.clear {
    display: none;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: portrait){
  .modal-content {
    margin-top: 60%;
  }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    width: 200px;
    background-color: $gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 35%; 
    margin-left: -60px;
    height: 80px;
    opacity: .8;
    display: table-cell;
    vertical-align: middle;

    p{
      margin-top: 13%;
    }
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $gray transparent;
}

.tooltip:hover .tooltiptext {
    //visibility: visible;
}
