@charset "UTF-8";

/**
  * Table of contents:
  *
  * — Text styles
  * - Styles for global elements
  */




/**
  * Text styles
  */
body {
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fbfaf8;
}

table, h2 {
  font-weight: 300;
}

body p {
  font-size: 1em;
}

body p a {
  color: #6C6D70;
}

body h1 {
  color: $orange;
  margin: 0;
  padding: 0;
  font-size: 2.8571em;
  font-weight: 300;
}

body h3 {
  font-size: 1.4285em;
  font-weight: 300;
}

body h4 {
  font-size: 1.1428em;
  font-weight: 300;
}

table {
  font-size: 1em;
}


/**
  * Styles for global elements
  */
*:focus {
  outline: none !important;
}

#top-line {
  background-color: rgb(108, 109, 112);
}

#bottom-line {
  background-color: rgb(108, 109, 112);
  text-align: center;
  color: #d3d3d3;
  box-sizing: border-box;
  padding-top: 6px;
}

#bottom-line a {
  color: white;
  text-decoration: none;
  margin-top: .7em;
  font-size: .8671em;
}

#right-panel {
  background-color: $bg-light;
}

button.close {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  @include background-image('close-icon', 16px 16px); 
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*Mobile*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
  body h1 {
    font-size: 1.5em;
    margin-top: 65px;
  }
}
