@charset "UTF-8";

/**
  * Table of contents
  *
  * - Paths
  * - Animation
  * - Element sizes
  * - Colors
  * - Other properties
  * - Mixins
  */

//*************************************
// Paths
//*************************************
$image-path: '../images';

//*************************************
// Animation
//*************************************
$slide-speed: 0.5s;

//*************************************
// Element sizes
//*************************************
$menu-width: 300px;
$right-panel-width: 100%;
$bottom-line-height: 30px;
$top-line-height: 10px;
$top-clearance: $top-line-height + 30px;
$map-selects-height: 110px;

//*************************************
// Colors
//*************************************
$bg-light: rgb(251, 250, 248);
$bg-test: #993333;
$orange: #E65722;
$light-gray: rgb(211,211,211);
$gray: rgb(146,146,148);

//*************************************
// Other properties
//*************************************
$border-radius: 4px;
$background-fallback-extension: 'png';
$retina-suffix: '@2x';

//*************************************
// Mixins
//*************************************
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-fourcorners($topright, $bottomright, $bottomleft, $topleft) {
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;

  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;

  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
}

@mixin background-image($name, $size) {
  background-image: url(#{$image-path}/#{$name}.svg);

  @if($size){
    background-size: $size;
  }

  .no-svg &{
    background-image: url(#{$image-path}/#{$name}.#{$background-fallback-extension});

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$background-fallback-extension});
    }
  }
}

@mixin image-button {
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -1000px;
  cursor: pointer;
}

@mixin panel-shadow {
  @media screen {
    //box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 8px 0px 15px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 0px 15px 0px rgba(0,0,0,0.4);
    box-shadow: 8px 0px 15px 0px rgba(0,0,0,0.4);
  }
}
