<p><strong>Name: </strong> {{name}}</p>
<p><strong>Email: </strong> {{email}}</p>
<p><strong>Organization: </strong> {{organization}}</p>
<p><strong>Country: </strong> {{country}}</p>
<p>{{message}}</p>
