<!--
<div class="header"></div>
  <div class="fixed-panel" style>
  <div class="content"><div class="content-inner">
    <h1>Contact Us</h1>
    <div class="notice success">Thank you! Your message was sent.</div>
    <div class="notice error">There was an error sending your message. Please write to info@sexualrightsinitiative.com.</div>
    <div class="notice validation-error">Please make sure that all the mandatory fields are filled.</div>
    <form id="contact-form" action="">

      <div class="text">
        <p>We would like to hear from you! Please complete the form below if you have a query, feedback or updated information about any of the laws or policies recorded in the Database. </p>
      </div>

      <div class="column left-column">
        <div id="name" class="field-wrapper name">
          <label for="contact-field-name">Name <span class="mandatory"></span></label>
          <input type="text" id="contact-field-name">
        </div>
        <div id="email" class="field-wrapper email">
          <label for="contact-field-email">Email <span class="mandatory"></span></label>
          <input type="text" id="contact-field-email">
        </div>
        <div id="organization" class="field-wrapper organization">
          <label for="contact-field-organization">Organization</label>
          <input type="text" id="contact-field-organization">
        </div>
        <div id="country" class="field-wrapper country">
          <label for="contact-field-country">Country</label>
          <input type="text" id="contact-field-country">
        </div>
        <input type="text" id="contact-field-hitme">
      </div>

      <div class="column right-column">
        <div id="subject" class="field-wrapper subject">
          <label for="contact-field-subject">Subject</label>
          <input type="text" id="contact-field-subject">
        </div>
        <div class="field-wrapper">
          <label for="contact-field-message">Message <span class="mandatory"></span></label>
          <textarea name="" cols="30" rows="5" id="contact-field-message"></textarea>
          <div class="message-counter"><span class="count">&nbsp; </span> <span class="length-warning">(Message is too long)</span></div>
        </div>
        <div class="field-wrapper"><button type="submit" id="contact-submit">Send</button></div>
      </div>
    </form>
  </div></div>
</div>
-->
