<div class="header"></div>
<div class="fixed-panel" style>
	<div class="content"><div class="content-inner">
	<h1>Countries</h1>
	<ul>
	  <% countries.forEach(function(country) { %>
	  <li class="country-link" data-country-id="{{country.tid}}"><h2>{{country.name}}</h2></li>
	  <% }); %>
	</ul>
	</div></div>
</div>
