<select class="country-topic-select">
  <option value="-1">Select a topic</option>
  <% topicsList.forEach(function(topic) {
    if(typeof(topic) == 'undefined') {return} %>
  <option value="{{topic.id}}" data-crl="{{topic.crl}}">{{topic.name}}</option>
  <% }); %>
</select>
