<% if(crl) {
    var crlClass = 'crl'; 
  }
  else {
    var crlClass = 'no-crl';
  }
%>
<div class="topic {{crlClass}}" id="topic-{{id}}">
  <h2 class="title">
    <a class="editor-link" href="#drupal" data-nid="{{nid}}"><span class="editor-link-icon"></span></a>
    <span class="color" style="background-color: color;"></span>
    <span class="name">{{name}}</span>
  </h2>
  <% if(typeof(tags) != 'undefined' && tags.length > 0) { %>
  <ul class="tags">

    <% tags.forEach(function(tag) { %>
    <li>{{tag.label}}</li>
    <% }); %>

  </ul>
  <% }%>

  <% if(textCode == 'noinfo') {
    var href = 'contact/' + escape(countryName) + ': ' + escape(name);
    %>
  <a class="contribute-link" href="{{href}}">If you are willing to provide information, please <span>contact us</span>.</a>
  <% } %>


  <% var questions = questions.join("\n"); %>
  {{questions}}
</div>
