<div class="header"><div class="header-inner">
  <button class="go-back"></button>
  <h1 class="title">{{name}}</h1>
  <div class="controls">
    <div class="topics-select-container">{{topicsSelect}}</div>
    <button class="crl-only">Filter by CRL</button>
    <button class="print"></button>
    <div class="updated">Last updated: {{updateString}}</div>
  </div>
</div></div>
<div class="content"><div class="content-inner">
  
  <% if(intro!='') { %>
  <div class="intro">
    <h2>Background</h2>
    {{intro}}
  </div>
  <% } %>

  <div class="topics">
  <% topics = topics.join("\n"); %>
  {{topics}}
  </div>
</div>
<div class="contribute">
  <p class="top">To contribute information</p>
  <p class="bottom">click here</p>
</div>
</div>

