<div class="card-container">
  <button class="close"></button>
  <h3>{{countryName}}</h3>
  <h4 class="topic-name">
    <span class="name">{{topicName}}</span>
    <span class="question">{{topicDescription}}</span>
  </h4>

  <%
  //***********************************
  //*Case 1, when a country has no data
  //***********************************
  if(typeof(noData) != 'undefined') {
    var contactPath = '#contact/' + escape(countryName + ': ' + topicName);
  %>
    <div class="no-info">Data for this country has not been uploaded yet. Please check again later. If you are willing to provide information, please <a href="{{contactPath}}">contact us</a>.</div>
  <%


  //***********************************
  //*Case 2, country has data**********
  //***********************************
  }
  else {
  %>
    <div class="answer" style="background-color: {{evaluation.color}};">{{evaluation.label}}</div>
    <div class="tags">
      <table>
        <% 
        var exceptions = [];
        if(typeof(tags) != 'undefined') {
          for(var i in tags) {
            var tag = tags[i];
            var img_src = (tag.icon != "") ? "/images/" + tag.icon + '.png': false;
            var isException = tag.is_exception;
            if(tag.is_exception == 0){%>
              <tr><td class="name" colspan="2">{{tag.label}}</td></tr>
            <%} else {
              exceptions.push(tag); 
            }%>
        <% }
        }
        if(exceptions.length > 0) {
          if(currentTopic.split_topic_tags == 1) {%>
          <tr><td class="question">Are there defenses/ exceptions?</td><td class="question"></td></tr> 
          <%}
          for(var i in exceptions){
            var tag = exceptions[i];
            var img_src = (tag.icon != "") ? "/images/" + tag.icon + '.png': false;
          %>
          <tr>
            <%if(img_src!=""){%>
              <td class="name">{{tag.label}}</td>
              <td class="warning">
              <%if(tag.icon!="") {%>
                <img height="20" width="10" src="{{img_src}}"></td>
              <%}%>
            <%}
            else{%>
              <td class="name" colspan="2">{{tag.label}}</td>
            <% } %>
          </tr>
        <%}
        }%>
      </table>
    </div>
    <button class="details">Read more</button>
  <%
  }
  %>
</div>
