<div class="header">
</div>
<div class="fixed-panel" style>
  <div class="content">
    <div class="content-inner">
      <h1>Compare</h1>
      <div class="country_select_container">
        <select class='country-select'>
          <option value="-1">Select a country</option>
        <%
        for (var i =0; i < countries.length; i++) { %>
          <option value="{{countries[i]['tid']}}">{{countries[i]['name']}}</option>
        <% } %>
        </select>
        <button class="close-all">Close all</button>
      </div>
      <div class="grid-table">
        <table>
          <thead>
              <th>
                <%
                  for (var i =0; i < countries.length; i++) { %>
                    <th class="country-{{countries[i]['tid']}} country-name ellipsis hidden"><div class="close-button" data-country="{{countries[i]['tid']}}">x</div>{{countries[i]['name']}}</th>
                <% } %>
            </tr>
              <%
                for (var i =0; i < loadedTopics.length; i++) {
                  var topic = loadedTopics[i];
                  var topicName = topic.get('name');
                  var topicTid = topic.get('id');
                  var question = topic.get('description');
                  %>
                  <tr>
                    <td class="topic-title" valign="top" value="{{topicTid}}">{{topicName + question}}</td>
                    <%
                      for (var j =0; j < countries.length; j++) { 
                        var country = countries[j];
                        var countryTid = country['tid'];
                        var topicCountries = topic.get('countries');
                        var evaluationColor = topicCountries[countries[j]['tid']]['evaluation']['color'];
                        var evaluationLabel = topicCountries[countries[j]['tid']]['evaluation']['label'];
                        %>
                        <td class="country-cell country-{{countryTid}} hidden" value="{{countryTid}}" data-topic-name="{{topicName}}" data-topic-id="{{topicTid}}"><div class="evaluation-strip" style="background-color: {{evaluationColor}}"></div><div class="evaluation-label">{{evaluationLabel}}</div></td>
                    <% } %>
                  </tr>
              <% } %>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
