 <div class="key-container">
  <div class="key-header">
    <button class="collapse">
      <span class="icon"></span>
    </button>
    <h4 class="topic-name">
      <span class="name">{{topicName}}</span>
      <span class="question">{{topicDescription}}</span>
    </h4>
  </div>
  <div class="key">
    <div class="table-container">
      <table>
      <% for (var i in evaluationCodes) {
        evaluation = evaluationCodes[i];
        var countryList = {};
        var badgeClass = "";
        var trClass ="";
        var activeClass ="inactive";
        if(typeof(totalCountries[evaluation.color])!='undefined')
          countryList = totalCountries[evaluation.color];
        if(countryList.length > 0)
          {
            badgeClass ="badge";
            trClass= "clickable";
            activeClass = "active-label";
          }%>
        <tr id="color-{{evaluation.color.substring(1)}}" class="{{trClass}}">
            <td class="color" style="background-color: {{evaluation.color}};"><div class="{{badgeClass}}">{{countryList.length}}</div></td>
            <td class="label"><div id="tr-{{evaluation.color.substring(1)}}" class="{{activeClass}}">{{evaluation.name}}<span id="icon-{{evaluation.color.substring(1)}}" class="icon hidden grayscale"></span></div>
              <div id="color-{{evaluation.color.substring(1)}}" class="answer-countries-list hidden">
                <%if(countryList.length > 0){ 
                  for(countryNumber in countryList){ 
                    var countryName = countryList[countryNumber];
                    if(countryNumber == countryList.length-1){
                      countryName+='.';
                    }
                    else{
                      countryName+=', ';
                    }%>
                    {{countryName}}
                <% }
              }%>
              </div>
            </td>
        </tr>
      <% } %>
      </table>
    </div>
  </div>
</div>
