<strong>Aquí va el logo.</strong>
<h2>Sexual and Reproductive Rights Laws database</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in sem sit amet ante convallis cursus. Aliquam ultrices nulla magna, sed egestas tortor pellentesque sit amet. Ut dui orci, egestas vel elit commodo, tincidunt dignissim magna. Vivamus at dictum ante. Nulla facilisi. Cras aliquam turpis in tincidunt lacinia.</p>

<hr>

<input id="login-mail" type="text" name="mail">
<input id="login-password" type="password" name="password">
<input type="submit" value="Log in" id="login-submit">

<hr>

<a href="/auth/recover">Recover your password.</a>
<a href="/auth/new">Request an account</a>
