<div id="menu"></div>
<div tabindex="0" id="menu-link">
  <div id="menu-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <span class="label">Menu</span>
</div>
<div id="content-wrapper"></div>
<div id="sri-logo"><a href="http://sexualrightsinitiative.com/" target="_blank"><img src="/images/sri-logo.png" width="83" height="65" alt="Sexual Rights Initiative"></a></div>
<div id="right-panel"></div>

<div id="top-line"></div>
<div id="bottom-line"><a href="http://www.sexualrightsinitiative.com" target="_blank">SRI 2016</a><!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.globalgiving.org/projects/sexual-rights-initiative/" target="_blank">Donate</a>--></div>
