<ul>
  <li class="sr-only"><a href="#" tabindex="1">Help screen reader</a></li>
  <li class="sr-only"><a href="screen-reader" tabindex="1">Plain HTML, screen reader friendly content.</a></li>
  <li><a href="page/welcome" tabindex="2">Welcome</a></li>
  <li class="requires-auth"><a href="map" tabindex="3">Map</a></li>
  <li class="requires-auth"><a href="countries" tabindex="5">Countries</a></li>
  <li class="requires-auth"><a href="grid" tabindex="4">Compare</a></li>
  <li><a href="page/about" tabindex="6">About</a></li>
  <li><a href="page/related_resources" tabindex="7">Related resources</a></li>
  <li><a href="page/acknowledgements" tabindex="8">Acknowledgements</a></li>
  <li><a href="page/help" tabindex="9">Help</a></li>
  <!--<li><a href="contact" tabindex="10">Contact</a></li>-->
  <li><a href="https://www.globalgiving.org/projects/sexual-rights-initiative/" target="_blank" tabindex="11">Donate</a></li>
</ul>
