<div class="header"></div>
<div class="fixed-panel" style>
	<div class="content"><div class="content-inner">
		<div class="page">
		  <h1>{{title}}</h1>
		  <div class="body">{{body}}</div>
		</div>
	</div></div>
</div>
