  <div class="map__selects__inner">
    <div class="tooltip">
      <span class="tooltiptext"><p>To start exploring the map, select a topic</p></span>
      <select class='topic-select'>
        <option value="-1">Select a topic</option>
      <%
      var selectValue;
      for (var i =0; i < topics.length; i++) { 
        var topic = topics[i];
        if(topic['not_covered_in_research']==1) {
          isDisabled = 'disabled';
        }
        else {
          isDisabled = '';
        }
        selectValue = topic['tid'];
      %>
        <option value="{{selectValue}}" {{isDisabled}}>{{topics[i]['name']}}</option>
      <% } %>
      </select>
    </div>
    <select class='country-select'>
      <option value="-1">Select a country</option>
    <%
    for (var i =0; i < countries.length; i++) { %>
      <option value="{{countries[i]['country_code']}}">{{countries[i]['name']}}</option>
    <% } %>
    </select>

    <button class="clear">Clear</button>
  </div>

  <div id="notCoveredModal" class="modal">
    <div class="modal-content">
      <span class="close">x</span>
      <p>This topic is not covered in our research, please refer to our <a target="blank" href="/page/related_resources">Related resources</a> section for further information.</p>
    </div>

</div>
