<!--
Data:
question
explanation
answer
documents
-->
<div class="question">
  <h3><a class="editor-link" href="#drupal" data-nid="{{nid}}"><span class="editor-link-icon"></span></a>{{question}}</h3>
  <!--<h4>Answer</h4>-->
  <span class="answer">{{answer}}</span>

  <% if(typeof(explanation) != 'undefined') { %>
  <!--<h4>Explanation</h4>-->
  <span class="explanation">{{explanation}}</span>
  <% } %>

  <% if(typeof(documents) != 'undefined') { %>
  <h4>Related documents</h4>
  <ul class="related-documents">
    <% documents.forEach(function(doc) { %>
    <li><a href="{{doc.url}}" data-url="{{doc.url}}" data-file="{{doc.file_url}}" target="_blank">{{doc.title}}</a></li>
    <% }); %>
  </ul>
  <% } %>
</div>
